.blog-wrapper {
  @include media(desktop) {
  }
}

.blog-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 112px;
  }
}

.blog-container {
  @include media(desktop) {
  }
}

.blog-title {
  @include media(desktop) {
  }
}

.blog-subtitle {
  @include media(desktop) {
  }
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

.blog-list-item {
  background: #fff;
  border: 1px solid #2563eb;
  border-radius: 20px;
  padding: 16px;
  width: 100%;
  min-height: 156px;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    padding: 24px;
    max-width: 416px;
    min-height: 192px;
  }
}

.blog-item-text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #374151;

  @include media(desktop) {
    font-size: 24px;
  }
}

.blog-icon {
  min-width: 56px;
  margin-top: auto;
  margin-left: auto;
}
