.hero-section {
  padding-top: 132px;
  padding-bottom: 80px;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom 150px center;
  background-size: auto;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-top: 232px;
    padding-bottom: 112px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-position: top 131px center;
    max-width: 1440px;
  }
}

.hero-container {
}

.hero-content-wrapper {
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: #374151;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 56px;
  }
}

.hero-title-span {
  color: #2563eb;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #374151;
  margin-bottom: 258px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
}

.hero-btn {
  background: #a3e635;
  border-radius: 40px;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #1f1f1f;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    padding: 16px 24px;
    font-size: 24px;
    max-width: 344px;
    margin-left: auto;
    margin-right: auto;
  }
}
