.intro-wrapper {
  @include media(desktop) {
  }
}

.intro-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 112px;
  }
}

.intro-container {
  @include media(desktop) {
  }
}

.intro-title {
  @include media(desktop) {
  }
}

.intro-subtitle {
  @include media(desktop) {
  }
}

.intro-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  margin-bottom: 20px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
  }
}

.intro-list-item {
  background: #fff;
  border: 1px solid #2563eb;
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  min-height: 87px;
  display: flex;
  justify-content: start;
  align-items: end;

  &:nth-child(2) {
    justify-content: space-between;

    .intro-item-img-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 4px;
      max-width: 70px;
      align-self: center;
    }
  }

  @include media(desktop) {
    border-radius: 40px;
    padding: 24px;
    max-width: 306px;
    min-height: 96px;
  }
}

.intro-list-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #374151;

  @include media(desktop) {
    font-size: 16px;
  }
}

.intro-btn {
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #a3e635;
  border-radius: 40px;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #374151;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    padding: 16px 24px;
    font-size: 24px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
