<section class="section blog-section" id="blog">
  <div class="container blog-container">
    <h2 class="section-title blog-title">Blog</h2>
    <p class="section-subtitle blog-subtitle">
      Insights from the Autospoton Team
    </p>
    <ul class="blog-list">
      <li class="blog-list-item">
        <p class="blog-item-text">The Future of AI in Advertising</p>
        <svg class="blog-icon" width="56" height="56">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="blog-list-item">
        <p class="blog-item-text">5 Ad Mistakes Costing You Thousands</p>
        <svg class="blog-icon" width="56" height="56">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="blog-list-item">
        <p class="blog-item-text">
          Cross-Platform Campaigns That Actually Work
        </p>
        <svg class="blog-icon" width="56" height="56">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
