<section class="section intro-section" id="intro">
  <div class="container intro-container">
    <h2 class="section-title intro-title">Intro</h2>
    <p class="section-subtitle intro-subtitle">
      From First Click to Last Conversion — We’ve Got You Covered
    </p>
    <ul class="intro-list">
      <li class="intro-list-item">
        <p class="intro-list-item-text">Data-driven ad targeting</p>
      </li>
      <li class="intro-list-item">
        <p class="intro-list-item-text">Multi-platform expertise</p>
        <div class="intro-item-img-wrapper">
          <img
            src="./img/intro/meta.png"
            alt="Meta logo"
            width="66"
            height="13"
          />
          <img
            src="./img/intro/linkedin.png"
            alt="Linkedin logo"
            width="21"
            height="21"
          />
          <img
            src="./img/intro/tiktok.png"
            alt="TikTok logo"
            width="18"
            height="21"
          />
          <img
            src="./img/intro/google.png"
            alt="Google logo"
            width="21"
            height="21"
          />
        </div>
      </li>
      <li class="intro-list-item">
        <p class="intro-list-item-text">
          AI-powered optimization for better ROI
        </p>
      </li>
      <li class="intro-list-item">
        <p class="intro-list-item-text">Transparent reporting you can trust</p>
      </li>
    </ul>
    <a href="#models" class="intro-btn">Book a Free Strategy Call</a>
  </div>
</section>
